:root {
    /*===== Colors =====*/
    --first-color: #eaeaef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: rgb(37, 150, 190);
    color: white;
    padding: 30px 20px;
}

/* css hạn chế để mấy cái như này
đặt tên class rồi css trên class thôi */

nav ul {
    background: #1b1b1b;
    list-style: none;
}

.col-md-3 {
    width: 20%;
    float: left;
}

.col-md-5 {
    width: 55%;
    float: left;
    padding: 20px;
}

.col-md-4 {
    background-color: rgba(234, 234, 239, 255);
    width: 25%;
    float: left;
    padding: 10px;
}

nav ul li {
    line-height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 5px solid transparent;
}

nav ul li.active a {
    color: white;
    background: #1e1e1e;
    border-left-color: cyan;
}

nav ul li a:hover {
    color: cyan;
    background: #1e1e1e;
    border-left-color: rgb(96, 39, 230);
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul .serv-show.show1 {
    display: block;
}

nav ul .user-show.show2 {
    display: block;
}

nav ul ul li {
    line-height: 42px;
    border-top: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 60px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: cyan !important;
    background: #1e1e1e !important;
}

.aside {
    padding: 20px;
    text-align: center;
    color: black;
}
.aside h2,
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.row:after {
    content: ' ';
    display: table;
    clear: both;
}

@media screen and (max-width: 700px) {
    .col-md-3 {
        width: 40%;
    }
    .col-md-5 {
        width: 60%;
    }
    .col-md-4 {
        width: 100%;
    }
}

@media screen and (max-width: 465px) {
    .col-md-3,
    .col-md-4,
    .col-md-5 {
        width: 100%;
    }
}

.homepage__upload {
    width: 94%;
    margin: auto;
    background-color: #eaeaef;
    padding: 8px;
    border-radius: 8px;
}

.homepage__upload-text {
    display: flex;
    position: relative;
}

.homepage__upload-text::after {
    content: '';
    width: 100%;
    border-top: 1px rgb(105, 78, 78) solid;
    height: 1px;
    position: absolute;
    bottom: -15px;
}

.homepage__upload-text--avt {
    width: 35px;
    height: 35px;
}

.homepage__upload-text--avt--input {
    border: none;
    flex: 1;
    margin: 0 12px 0 12px;
    border-radius: 12px;
    background-color: #2596be;
    color: white;
    text-indent: 8px;
}

.homepage__upload-text--avt--input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.homepage__upload-extra {
    display: flex;
    margin-top: 25px;
}

.homepage__upload-extra--live_video,
.homepage__upload-extra--photovideo,
.homepage__upload-extra--feelingactivity {
    flex: 1;
    text-align: center;
}

.homepage__upload-extra--live_video--img {
    height: 22px;
}

.homepage__post {
    width: 94%;
    margin: 25px auto 0;
}

.homepage__post-posts {
    border-radius: 12px;
    background-color: #eaeaef;
    margin: 12px 0;
    padding-bottom: 18px;
}

.homepage__post-posts--header {
    display: flex;
    padding: 18px 12px 10px 12px;
}
.homepage__post-posts--header-nametime {
    flex: 1;
    margin-left: 15px;
}

.homepage__post-posts--header-name {
    font-weight: 600;
}

.homepage__post-posts--header-option-3dot {
    width: 15px;
}

.homepage__post-posts--content {
    padding: 80px 18px;
    margin: 12px 0;
    background-color: aquamarine;
    text-align: center;
    /* border-radius: 12px; */
    font-size: 36px;
    font-weight: 400;
    overflow-wrap: break-word;
}

.homepage__post-posts--stat {
    display: flex;
    position: relative;
}

.homepage__post-posts--stat {
    margin: 12px 0;
}

.homepage__post-posts--stat--like-icon {
    height: 22px;
}

.homepage__post-posts--stat,
.homepage__post-posts--react {
    margin: 0 12px;
}

.homepage__post-posts--stat--like {
    flex: 1;
}

.homepage__post-posts--react {
    margin-top: 30px;
    display: flex;
    position: relative;
}

.homepage__post-posts--react--like-icon {
    height: 30px;
}

.homepage__post-posts--react {
    display: flex;
}

.homepage__post-posts--react--like {
    flex: 1;
    text-align: center;
}

.homepage__post-posts--react--cmt {
    flex: 1;
    text-align: center;
}

.homepage__post-posts--stat::after,
.homepage__post-posts--react::after {
    content: '';
    width: 100%;
    border-top: 1px rgb(12, 9, 9) solid;
    height: 1px;
    position: absolute;
    bottom: -15px;
}

.homepage__post-posts--content--cmt {
    margin: 25px 12px;
}

.homepage__post-posts--content--cmt-avt {
    width: 28px;
    height: 28px;
}

.homepage__post-posts--content--1cmt {
    display: flex;
    margin: 12px 0;
}

.homepage__post-posts--content--1cmt-name {
    font-weight: 500;
}

.homepage__post-posts--content--1cmt-namecontent {
    margin-left: 12px;
    max-width: 80%;
    overflow-wrap: break-word;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 12px;
}

.homepage__upload-extra--live_video--img2 {
    margin-left: 8px;
}

.homepage__post-posts--content--1cmt-name {
    display: flex;
}

.homepage__post-posts--content--1cmt-ifauthor {
    color: blue;
    font-size: 0.6rem;
    margin: 6px 0 0 6px;
}

.homepage__post-posts--content--yourcmt {
    display: flex;
    margin: 0 12px;
}

.homepage__post-posts--content--yourcmtinput {
    flex: 1;
    margin: 0 16px;
    border-radius: 12px;
    border: none;
    background-color: rgb(221, 212, 212);
}

.homepage__post-posts--content--yourcmticon {
    position: absolute;
    right: 70px;
}

/* myNotify */

.myNotify {
    width: 94%;
    margin: 25px auto 0;
}

.myNotify__container {
    border-radius: 12px;
    background-color: var(--first-color);
    margin: 12px 0;
    padding-bottom: 18px;
}

.myNotify__container__header {
    display: flex;
    padding: 18px 12px 10px 12px;
}

.myNotify__container__header__container {
    flex: 1;
    margin: 0 15px;
}

.myNotify__title {
    font-weight: 600;
}

.myNotify__detail {
    display: flex;
    position: relative;
    margin: 12px 0;
    margin: 0 12px;
}

.myNotify__btn__dropdown {
    background-color: var(--first-color);
}

/* notifyDetail */
.myNotify__content {
    padding: 80px 18px;
    margin: 12px 0;
    background-color: aquamarine;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    overflow-wrap: break-word;
}

/* notifyTopic */

.notifyTopic {
    width: 20%;
    display: inline-block;
    height: 200px;
    word-break: keep-all;
    margin: 12px;
}

.notifyTopic__img {
    width: 100%;
}

.notifyTopic__title {
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
