<div class="homepage__upload">
    <div class="homepage__upload-text">
        <img
            src="/images/avt.png"
            alt=""
            class="rounded-circle homepage__upload-text--avt"
        />
        <input
            type="text"
            name=""
            id=""
            class="homepage__upload-text--avt--input"
            placeholder="What is in your mind, NAME?"
        />
    </div>
    <div class="homepage__upload-extra">
        <div class="homepage__upload-extra--live_video">
            <img
                src="/images/live.png"
                class="homepage__upload-extra--live_video--img"
            />
            Video
        </div>
        <div class="homepage__upload-extra--photovideo">
            <img
                src="/images/photo.png"
                class="homepage__upload-extra--live_video--img"
            />Photo/Video
        </div>
        <div class="homepage__upload-extra--feelingactivity">
            <img
                src="/images/icon.png"
                class="homepage__upload-extra--live_video--img"
            />Feeling/Activity
        </div>
    </div>
</div>

<div class="homepage__post">
    <div class="homepage__post-posts">
        <div class="homepage__post-posts--header">
            <div class="homepage__post-posts--header-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="rounded-circle homepage__upload-text--avt"
                />
            </div>
            <div class="homepage__post-posts--header-nametime">
                <div class="homepage__post-posts--header-name">Thiện Vsoul</div>
                <div class="homepage__post-posts--header-time">
                    December 14, 2021
                </div>
            </div>
            <div class="homepage__post-posts--header-option">
                <img
                    src="/images/3dot.png"
                    alt=""
                    class="homepage__post-posts--header-option-3dot"
                />
            </div>
        </div>
        <div class="homepage__post-posts--content">
            helooooooooooooooooasdddddddddddddddddddddccccccccccccssssssssssssssssssssssssssssccccccccccccccccccccccccccs
        </div>
        <div class="homepage__post-posts--stat">
            <div class="homepage__post-posts--stat--like">
                <img
                    src="/images/like.png"
                    alt=""
                    class="homepage__post-posts--stat--like-icon"
                />
                9
            </div>
            <div class="homepage__post-posts--stat--cmt">11 comments</div>
        </div>
        <div class="homepage__post-posts--react">
            <div class="homepage__post-posts--react--like">
                <img
                    src="/images/likebnw.png"
                    alt=""
                    class="homepage__post-posts--react--like-icon"
                />
                Like
            </div>
            <div class="homepage__post-posts--react--cmt">
                <img
                    src="/images/cmtbnw.png"
                    alt=""
                    class="homepage__post-posts--react--like-icon"
                />
                Comments
            </div>
        </div>
        <div class="homepage__post-posts--content--cmt">
            <p>View 6 more comments</p>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin
                        cssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshasdsdasdasdasdsdasdasdasdsdsdaao
                        cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>
        </div>
        <div class="homepage__post-posts--content--yourcmt">
            <div class="homepage__post-posts--content--1cmt-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="
                        rounded-circle
                        homepage__post-posts--content--cmt-avt
                    "
                />
            </div>
            <input
                type="text"
                class="homepage__post-posts--content--yourcmtinput"
            />
            <div class="homepage__post-posts--content--yourcmticon">
                <img
                    src="/images/icon.png"
                    class="homepage__upload-extra--live_video--img"
                /><img
                    src="/images/img.png"
                    class="homepage__upload-extra--live_video--img"
                /><img
                    src="/images/send.png"
                    class="homepage__upload-extra--live_video--img"
                />
            </div>
        </div>
    </div>
</div>

<div class="homepage__post">
    <div class="homepage__post-posts">
        <div class="homepage__post-posts--header">
            <div class="homepage__post-posts--header-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="rounded-circle homepage__upload-text--avt"
                />
            </div>
            <div class="homepage__post-posts--header-nametime">
                <div class="homepage__post-posts--header-name">Thiện Vsoul</div>
                <div class="homepage__post-posts--header-time">
                    December 14, 2021
                </div>
            </div>
            <div class="homepage__post-posts--header-option">
                <img
                    src="/images/3dot.png"
                    alt=""
                    class="homepage__post-posts--header-option-3dot"
                />
            </div>
        </div>
        <div class="homepage__post-posts--content">
            helooooooooooooooooasdddddddddddddddddddddccccccccccccssssssssssssssssssssssssssssccccccccccccccccccccccccccs
        </div>
        <div class="homepage__post-posts--stat">
            <div class="homepage__post-posts--stat--like">
                <img
                    src="/images/like.png"
                    alt=""
                    class="homepage__post-posts--stat--like-icon"
                />
                9
            </div>
            <div class="homepage__post-posts--stat--cmt">11 comments</div>
        </div>
        <div class="homepage__post-posts--react">
            <div class="homepage__post-posts--react--like">
                <img
                    src="/images/likebnw.png"
                    alt=""
                    class="homepage__post-posts--react--like-icon"
                />
                Like
            </div>
            <div class="homepage__post-posts--react--cmt">
                <img
                    src="/images/cmtbnw.png"
                    alt=""
                    class="homepage__post-posts--react--like-icon"
                />
                Comments
            </div>
        </div>
        <div class="homepage__post-posts--content--cmt">
            <p>View 6 more comments</p>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin
                        cssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshasdsdasdasdasdsdasdasdasdsdsdaao
                        cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>
        </div>
        <div class="homepage__post-posts--content--yourcmt">
            <div class="homepage__post-posts--content--1cmt-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="
                        rounded-circle
                        homepage__post-posts--content--cmt-avt
                    "
                />
            </div>
            <input
                type="text"
                class="homepage__post-posts--content--yourcmtinput"
            />
            <div class="homepage__post-posts--content--yourcmticon">
                <img
                    src="/images/icon.png"
                    class="homepage__upload-extra--live_video--img"
                /><img
                    src="/images/img.png"
                    class="homepage__upload-extra--live_video--img"
                /><img
                    src="/images/send.png"
                    class="homepage__upload-extra--live_video--img"
                />
            </div>
        </div>
    </div>
</div>

<div class="homepage__post">
    <div class="homepage__post-posts">
        <div class="homepage__post-posts--header">
            <div class="homepage__post-posts--header-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="rounded-circle homepage__upload-text--avt"
                />
            </div>
            <div class="homepage__post-posts--header-nametime">
                <div class="homepage__post-posts--header-name">Thiện Vsoul</div>
                <div class="homepage__post-posts--header-time">
                    December 14, 2021
                </div>
            </div>
            <div class="homepage__post-posts--header-option">
                <img
                    src="/images/3dot.png"
                    alt=""
                    class="homepage__post-posts--header-option-3dot"
                />
            </div>
        </div>
        <div class="homepage__post-posts--content">
            helooooooooooooooooasdddddddddddddddddddddccccccccccccssssssssssssssssssssssssssssccccccccccccccccccccccccccs
        </div>
        <div class="homepage__post-posts--stat">
            <div class="homepage__post-posts--stat--like">
                <img
                    src="/images/like.png"
                    alt=""
                    class="homepage__post-posts--stat--like-icon"
                />
                9
            </div>
            <div class="homepage__post-posts--stat--cmt">11 comments</div>
        </div>
        <div class="homepage__post-posts--react">
            <div class="homepage__post-posts--react--like">
                <img
                    src="/images/likebnw.png"
                    alt=""
                    class="homepage__post-posts--react--like-icon"
                />
                Like
            </div>
            <div class="homepage__post-posts--react--cmt">
                <img
                    src="/images/cmtbnw.png"
                    alt=""
                    class="homepage__post-posts--react--like-icon"
                />
                Comments
            </div>
        </div>
        <div class="homepage__post-posts--content--cmt">
            <p>View 6 more comments</p>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        Thiện Vsoul
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin
                        cssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshasdsdasdasdasdsdasdasdasdsdsdaao
                        cac ban
                    </div>
                </div>
                <div class="homepage__post-posts--content--1cmt-3dot">
                    <img
                        src="/images/3dot.png"
                        alt=""
                        class="
                            homepage__post-posts--header-option-3dot
                            homepage__upload-extra--live_video--img2
                        "
                    />
                </div>
            </div>
        </div>
        <div class="homepage__post-posts--content--yourcmt">
            <div class="homepage__post-posts--content--1cmt-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="
                        rounded-circle
                        homepage__post-posts--content--cmt-avt
                    "
                />
            </div>
            <input
                type="text"
                class="homepage__post-posts--content--yourcmtinput"
            />
            <div class="homepage__post-posts--content--yourcmticon">
                <img
                    src="/images/icon.png"
                    class="homepage__upload-extra--live_video--img"
                /><img
                    src="/images/img.png"
                    class="homepage__upload-extra--live_video--img"
                /><img
                    src="/images/send.png"
                    class="homepage__upload-extra--live_video--img"
                />
            </div>
        </div>
    </div>
</div>
