<h3 class="text-center">Thông báo của tôi</h3>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>

<!-- myNotify -->
<div class="myNotify">
    <div class="myNotify__container">
        <div class="myNotify__container__header">
            <div class="myNotify__container__header__container">
                <div class="myNotify__title">Thông báo Abc</div>
                <div class="myNotify__time">13-03-2000</div>
            </div>
            <div class="dropdown">
                <button
                    class="btn myNotify__btn__dropdown"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Xóa thông báo</a>
                    <a class="dropdown-item" href="#">Chỉnh sửa</a>
                </div>
            </div>
        </div>
        <div class="myNotify__detail">
            <div class="col"></div>
            <a href="/notifyDetail" class="myNotify__detail__link"
                >Xem chi tiết</a
            >
        </div>
    </div>
</div>

<!-- myNotify -->
<div class="myNotify">
    <div class="myNotify__container">
        <div class="myNotify__container__header">
            <div class="myNotify__container__header__container">
                <div class="myNotify__title">Thông báo Abc</div>
                <div class="myNotify__time">13-03-2000</div>
            </div>
            <div class="dropdown">
                <button
                    class="btn myNotify__btn__dropdown"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Xóa thông báo</a>
                    <a class="dropdown-item" href="#">Chỉnh sửa</a>
                </div>
            </div>
        </div>
        <div class="myNotify__detail">
            <div class="col"></div>
            <a href="/notifyDetail" class="myNotify__detail__link"
                >Xem chi tiết</a
            >
        </div>
    </div>
</div>

<!-- myNotify -->
<div class="myNotify">
    <div class="myNotify__container">
        <div class="myNotify__container__header">
            <div class="myNotify__container__header__container">
                <div class="myNotify__title">Thông báo Abc</div>
                <div class="myNotify__time">13-03-2000</div>
            </div>
            <div class="dropdown">
                <button
                    class="btn myNotify__btn__dropdown"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Xóa thông báo</a>
                    <a class="dropdown-item" href="#">Chỉnh sửa</a>
                </div>
            </div>
        </div>
        <div class="myNotify__detail">
            <div class="col"></div>
            <a href="/notifyDetail" class="myNotify__detail__link"
                >Xem chi tiết</a
            >
        </div>
    </div>
</div>

<!-- myNotify -->
<div class="myNotify">
    <div class="myNotify__container">
        <div class="myNotify__container__header">
            <div class="myNotify__container__header__container">
                <div class="myNotify__title">Thông báo Abc</div>
                <div class="myNotify__time">13-03-2000</div>
            </div>
            <div class="dropdown">
                <button
                    class="btn myNotify__btn__dropdown"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Xóa thông báo</a>
                    <a class="dropdown-item" href="#">Chỉnh sửa</a>
                </div>
            </div>
        </div>
        <div class="myNotify__detail">
            <div class="col"></div>
            <a href="/notifyDetail" class="myNotify__detail__link"
                >Xem chi tiết</a
            >
        </div>
    </div>
</div>
