<h3 class="text-center">Thông báo Abc</h3>
<!-- notifyDetail -->
<div class="myNotify">
    <div class="myNotify__container">
        <div class="myNotify__container__header">
            <div class="myNotify__container__header__container">
                <div class="myNotify__title">Nội dung</div>
                <div class="myNotify__time">13-03-2000</div>
                <div class="myNotify__content">
                    Bộ Tài chính đã yêu cầu siết việc kê khai giá trong chuyển
                    nhượng bất động sản nhằm chống thất thu thuế, nhưng khai giá
                    thật trong giao dịch bất động sản cần những giải pháp mạnh
                    tay hơn.
                </div>
            </div>
        </div>
        <div class="myNotify__detail">
            <div class="col"></div>
            <div>Thực hiện bởi: Admin</div>
        </div>
    </div>
</div>
