<h3 class="text-center">Thông báo theo chuyên đề</h3>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>

<div class="notifyTopic">
    <img class="notifyTopic__img" src="/images/logo.jpg" class="rounded mx-auto d-block" alt="Chuyên đề" />
    <div class="notifyTopic__title text-center">Khoa Abc</div>
    <div class="text-center">
        <a href="/notifyListTopic">Xem thông báo</a>
    </div>
</div>